.editor textarea {
    outline: none;
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.3rem;
}

.editor input {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

button.logout {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

button.logout:hover {
    text-decoration: underline;
}
