@page "/addpost"
@layout MainLayout
@inherits AddPostModel

<WdHeader Heading="WordDaze" SubHeading="Add Post"></WdHeader>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="editor">
                <input bind=@Title placeholder="Title" class="form-control" />
                <textarea ref="editor" bind=@Post onkeyup="@UpdateCharacterCount" placeholder="Write your post (Supports Markdown)" rows="25"></textarea>
                <div class="character-count text-blaxk-50 float-left">@CharacterCount Characters</div>
                <button class="btn btn-primary float-right" onclick="@SavePost">Post</button>
            </div>
        </div>
    </div>
</div>
