.editor textarea {
    outline: none;
    resize: none;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.3rem;
}

.editor input {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}
