@page "/"
@layout MainLayout
@inherits HomeModel

<WdHeader Heading="WordDaze" SubHeading="A Blazor Powered Blogging App"></WdHeader>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in blogPosts)
            {
                <BlogPostPreview BlogPost=@post></BlogPostPreview>
                <hr />
            }
        </div>
    </div>
</div>
