@page "/"
@layout MainLayout

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>WordDaze</h1>
                <span class="subheading">A Blazor Powered Blogging App</span>
            </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- Post list goes here -->
        </div>
    </div>
</div>
